/*-- Fonts --*/

/* lato-300 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'),
         url('../fonts/lato-v16-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
  }
  /* lato-regular - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'),
         url('../fonts/lato-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */    
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'),
         url('../fonts/lato-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  }

/*--/ Fonts --*/


* {
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 1020px;
    height: 100vh;
    margin: 0 auto;
    font-family: "Lato", sans-serif;
}

.header {
    display: flex;
    background-color: #2d303a;
    height: 95px;
    padding: 0 40px;
    border-bottom: 6px solid #323746 ;
}

.header-logo {
    display: flex;
    padding-top: 30px;

}

.header-logo p {
    color: white;
    font-size: 19pt;
    text-transform: uppercase;
    letter-spacing: -0.06em;
}

.header-logo-star {
    color: #f06c64;
    font-size: 20pt;
}

.header-nav {
    padding-left: 379px;
    padding-top: 26px;
}

.header-nav ul {
    list-style: none;
    font-size: 9pt;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-nav ul li {
   display: flex;
}

.header-nav ul li a {
    letter-spacing: 0.1pt;
    margin-top: 15px;
    text-decoration: none;
    color: white
}

.header-nav ul li a:hover {
    color: #f06c64
}

.nav-text_hidden {
    margin-left: 5px;
    visibility: hidden;
}

.header-nav ul li span {
    padding: 6px 9px;
    font-size: 20pt;
    color: #424657
}

.slider_block {
    background-color: #f06c64;
    height: 600px;
    width: 1020px;
    display: flex;
}

.slider_block-vertical_phone {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 19px;
    margin-left: 7px;
}

.slider_block-left_arrow {
    margin-right: 55px;
    margin-left: 36px;
}

.slider_block-horizontal_phone {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
    margin-bottom: 19px;

}

.slider_block-right_arrow {
    margin-left: 50px;
}