/*-- Fonts --*/

/* lato-300 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'),
         url('../fonts/lato-v16-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
  }
  /* lato-regular - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'),
         url('../fonts/lato-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */    
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'),
         url('../fonts/lato-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  }

/*--/ Fonts --*/

* {
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 1020px;
    height: 100vh;
    margin: 0 auto;
    font-family: "Lato", sans-serif;
}

.getAquote {
    border-bottom: solid 6px #ea676b;
    height: 655px;
    background-color: #f06c64;
}

.getAquote-text {
    color: #f0d8d9;
    padding-top: 60px;
    padding-left: 41px;
}

.getAquote-text h2 {
    font-weight: 700;
    font-size: 22pt;
    letter-spacing: -0.019em;
    margin-bottom: 21px;
}

.getAquote-text p {
    line-height: 22pt;
    letter-spacing: 0.038em;
    font-size: 12pt;
}

.getAquote-form {
    margin-top: 22px;
    margin-left: 20px;
    width: 620px;
    display: flex;
    flex-direction: column;
}

.form-item {
    border: none;
    border-radius: 5px;
    border-color: #d6564f;
    height: 38px;
    color: #f2888b;
    background-color: #d6564f;
    font-size: 11.5px;
    line-height: 22px;
    text-align: left;
    padding-left: 14px;
    padding-top: 5px;
    margin-bottom: 16px;
    letter-spacing: 0.01em;
}

.form-textarea {
    resize: none;
    border: none;
    border-radius: 5px;
    height: 202px;
    color: #f2888b;
    background-color: #d6564f;
    font-size: 11.5px;
    line-height: 26px;
    text-align: left;
    padding-left: 14px;
    padding-top: 5px;
    margin-bottom: 16px;
    
}

.form-item::placeholder{
    color: #f48c8f; 
}

.form-textarea::placeholder {
    color: #f48c8f;
    letter-spacing: -0.9pt;
}

.form-submit {
    width: 100px;
    border: none;
    border-radius: 5px;
    color: #d6564f;
    background-color: #f0d8d9;
    font-size: 11.5px;
    line-height: 26px;
    text-align: center;
}

.form-submit:hover {
    opacity: 0.75;
    color: #f0d8d9;
    background-color: #d6564f;
    cursor: pointer
}

.getAquote-form_contacts {
    display: flex;
}

.getAquote-contact {
    width: 300px;
    margin-left: 40px;
    margin-top: 43px;
}

.contact-text p {
    font-weight: 300;
    padding-top: 6px;
    color: #f0d8d9;
    font-size: 11.5px;
    line-height: 22px;
}
    
.contact-text h3 {
    color: #f0d8d9;
    letter-spacing: -0.03em;
}

.information {
    display: flex;
    margin-bottom: 9px;
}

.information a {
    text-decoration: none;
    text-align: center;
    padding-left: 15px;
    color: #f0d8d9;
    font-size: 10.5px;
    letter-spacing: 0.046em
}

.information a:hover {
    color:  hsl(0, 0%, 0%);
}

.information p {
    text-align: center;
    padding-left: 15px;
    color: #f0d8d9;
    font-size: 10.5px;
    letter-spacing: 0.046em
}

.contact-information {
    margin-top: 25px;
    padding-left: 1px;
}

.information-img_phone {
    margin-top: 2px;
}

.footer {
    height: 76px;
    background-color: #2d303a;
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    padding-top: 29px;
    padding-left: 43px; 
}

.footer-link {
    padding-top: 21px;
    padding-right: 40px; 
}

.footer-link a {
    padding-right: 2px;
}
