/*-- Fonts --*/

/* lato-300 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'),
         url('../fonts/lato-v16-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
  }
  /* lato-regular - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'),
         url('../fonts/lato-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */    
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'),
         url('../fonts/lato-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  }

/*--/ Fonts --*/

* {
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 1020px;
    height: 100vh;
    margin: 0 auto;
    font-family: "Lato", sans-serif;
}

.portfolio{
    width: 1020px;
    height: 870px;
    border-bottom: 6px solid #323746;
    background-color: #2d303a;
    padding-left: 40px;
    padding-top: 63px;
}

.portfolio-text h2 {
    font-weight: 700;
    font-size: 22pt;
    color: #666d89;
    letter-spacing: -0.002em;
}

.portfolio-text p {
    color: #6c7491;
    font-size: 12.5pt;
    padding-top: 23px;
    letter-spacing: 0.0085em;
}

.portfolio-navBar {
    padding-top: 15px;
}

.navBar-button {
    display: inline-block;
    justify-content: center;
    align-items: center;
    border-width: 1px;
    border-color: #6c7491;
    border-style: solid;
    border-radius: 5px;
    height: 20px;
    margin-right: 8px;
}

.navBar-button:hover {
    border-color: white;
}

.navBar-button a:hover {
    color: white;
}

.navBar-button a {
    text-decoration: none;
    color: #6c7491;
    padding: 6px;
    font-size: 9.3pt;
    letter-spacing: -0.035em;
}

.portfolio-img {
    display: grid;
}
