/*-- Fonts --*/

/* lato-300 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'),
         url('../fonts/lato-v16-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
  }
  /* lato-regular - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'),
         url('../fonts/lato-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */    
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'),
         url('../fonts/lato-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  }

/*--/ Fonts --*/


* {
    scroll-behavior: smooth;
    margin: 0;
    box-sizing: border-box;
    scroll-margin-top: 95px;
}

.wrapper {
    overflow: hidden;
    max-width: 1020px;
    margin: 0 auto;
    font-family: "Lato", sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
    max-width: 1020px;
    display: flex;
    justify-content: space-between;
    background-color: #2d303a;
    min-height: 95px;
    padding: 0 40px;
    border-bottom: 6px solid #323746;
}

.content {
    position: relative;
    margin-top: 95px;
}

.menu_button {
    transform: rotate(0deg);
}

.menu_button.active {
    transform: rotate(90deg);
}

.menu_img {
    display: none;

    padding-top: 26px;
}

.header-logo {
    margin-top: 34px;
}

.header-nav {
    padding-top: 26px;
}

.header-nav ul {
    padding-inline-start: 0;
    list-style: none;
    font-size: 9pt;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-nav ul li {
   display: flex;
}

.header-nav ul li a:not(.active) {
    letter-spacing: 0.1pt;
    margin-top: 15px;
    text-decoration: none;
    color: white
}

.header-nav ul li a:not(.active):hover {
    color: #f06c64
}

a.active {
    letter-spacing: 0.1pt;
    margin-top: 15px;
    text-decoration: none;
	color: #f06c64;
}

.nav-text_hidden {
    margin-left: 5px;
    visibility: hidden;
}

.header-nav ul li span {
    padding: 6px 9px;
    font-size: 20pt;
    color: #424657
}

.iphone_button {
    cursor: pointer;
    position: absolute;
    width: 42px;
    height: 42px;
    opacity: 0;
    background-color: black;
    border-radius: 50%;
    bottom: 89px;
    left: 34%;
}

.iphone_button_2 {
    cursor: pointer;
    position: absolute;
    width: 42px;
    height: 42px;
    opacity: 0;
    background-color: black;
    border-radius: 50%;
    bottom: 287px;
    left: 2.2%;
}

.vertical_scrin.hidden {
    opacity: 0;
}

.horizontal_scrin.hidden {
    opacity: 0;
}

.vertical_scrin {
    position: absolute;
    width: 188px;
    height: 335px;
    opacity: 1;
    background-color: black;
    top: 119px;
    left: 4.6%;
}

.horizontal_scrin{
    position: absolute;
    height: 190px;
    width: 337px;
    opacity: 1;
    background-color: black;
    top: 189px;
    left: 12.4%;
}

.slider_block {
    width: 100vw;
    display: flex;
    justify-content: flex-start;
}

.slider_transform {
    display: flex;
    justify-content: flex-start;
    position: relative;
    transition: all 0.2s;
}

.slider_block-slide1 {
    background-color: #f06c64;
    height: 600px;
    display: flex;
    width: 100vw;
    flex-shrink: 0;
    transition: all 0.2s;
}

.slider_block-slide2 {
    height: 600px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    flex-shrink: 0;
    background-color: #648BF0;
    transition: all 0.2s;
}

.slider_block-vertical_phone {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-left: 114px;
}

.slider_block-left_arrow {
    z-index: 1;
    position: absolute;
    cursor: pointer;
    left: 42px;
    top: 281px;;
}

.slider_block-horizontal_phone {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
    margin-bottom: 10px;

}

.slider_block-right_arrow {
    z-index: 1;
    position: absolute;
    cursor: pointer;
    right: 39px;
    top: 281px;
}

.our_services_block {
    max-width: 1020px;
    min-height: 500px;
    padding: 0 42px;
    background-color: #f2f2f2;
}

.our_services_block-text h1{
    font-weight: 700;
    font-size: 20.5pt;
    color: #666d89;
    letter-spacing: -0.002em;
}

.our_services_block-text p {
    color: #767e9d;
    font-weight: 300;
    font-size: 14pt;
    margin-top: 24px;
    letter-spacing: -0.032em;
    line-height: 21pt;
}

.our_services_block-text {
    padding-top: 60px;
    
}

.item-text h3 {
    font-size: 13.5pt;
    letter-spacing: -0.018em;
    color: #666d89;
    margin-bottom: 2px;
}

.item-text p {
    word-wrap: break-word;
    overflow: hidden;
    padding-top: 4px;
    color: #767e9e;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: -0.01em;
}

.services_item {
    flex-basis: 300px;
    overflow: hidden;
    display: flex;
    width: 300px;
    height: 86px;
    margin-bottom: 37px;
}

.our_services_block-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 45px;
}

.item-img {
    padding-right: 20px;
}

.portfolio{
    max-width: 1020px;
    height: 870px;
    border-bottom: 6px solid #323746;
    background-color: #2d303a;
}

.portfolio-text {
    padding: 63px 5% 0;
}

.portfolio-text h2 {
    font-weight: 700;
    font-size: 22pt;
    color: #666d89;
    letter-spacing: -0.002em;
}

.portfolio-text p {
    color: #6c7491;
    font-size: 12.5pt;
    padding-top: 23px;
    letter-spacing: 0.0085em;
}

.portfolio-navBar {
    display: inline-block;
    padding-top: 13px;
    padding-left: 5%;
}

.navBar-button {
    cursor: pointer;
    display: inline-block;
    justify-content: center;
    align-items: center;
    border-width: 1px;
    border-color: #6c7491;
    border-style: solid;
    border-radius: 5px;
    height: 20px;
    margin-right: 8px;
    text-decoration: none;
    color: #6c7491;
    padding: 6px;
    font-size: 9.3pt;
    letter-spacing: -0.035em;
    line-height: 6px;

}

.navBar-button.active {
    border-color: white;
    color: white;
}

.navBar-button:hover {
    border-color: white;
    color: white;
}


.portfolio-img {
    height: 870px;
    max-width: 940px;
    margin-left: 5%;
    margin-top: 20px;
    display: grid;
    grid-template-rows: 187px 187px 187px;
    grid-template-columns: repeat(auto-fill, 220px);
    grid-gap: 20px;
    grid-row-gap: 20px;
    overflow: hidden;
    justify-content: center;
}

.portfolio-img-case {
    cursor: pointer;
}

.portfolio-img-case img.active {
    border: 5px solid #F06C64;
}

.aboutUs {
    height: 735px;
    background-color: #f2f2f2;
}

.aboutUs-text {
    max-width: 940px;
    padding-top: 60px;
    padding-left: 40px;
}

.aboutUs-text h2 {
    font-weight: 700;
    font-size: 22pt;
    color: #666d89;
    letter-spacing: -0.002em;
}

.aboutUs-text p {
    color: #767e9d;
    font-weight: 300;
    font-size: 14pt;
    margin-top: 21px;
    letter-spacing: -0.045em;
    line-height: 21pt;
}

.aboutUs-people {
    max-width: 940px;
    margin-left: 40px;
    margin-top: 46px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-auto-rows: auto;
    grid-gap: 20px;
    overflow: hidden;
}

.people-text h3 {
    word-wrap: break-word;
    padding-top: 13px;
    font-size: 13.5pt;
    letter-spacing: -0.038em;
    color: #666d89;
    margin-bottom: 2px;
}

.people-text p {
    padding-top: 4px;
    color: #767e9e;
    font-size: 11px;
    line-height: 22px;
}

.people-socialImg {
    padding-top: 21px;
}

.social {
    margin-right: 4px;
}

.getAquote {
    border-bottom: solid 6px #ea676b;
    height: 655px;
    background-color: #f06c64;
}

.getAquote-text {
    color: #f0d8d9;
    padding-top: 60px;
    padding-left: 41px;
}

.getAquote-text h2 {
    font-weight: 700;
    font-size: 22pt;
    letter-spacing: -0.019em;
    margin-bottom: 21px;
}

.getAquote-text p {
    line-height: 22pt;
    letter-spacing: 0.038em;
    font-size: 12pt;
}

.getAquote-form {
    margin-top: 22px;
    margin-left: 20px;
    width: 620px;
    display: flex;
    flex-direction: column;
}

.form-item {
    border: none;
    border-radius: 5px;
    border-color: #d6564f;
    height: 38px;
    color: #f2888b;
    background-color: #d6564f;
    font-size: 11.5px;
    line-height: 22px;
    text-align: left;
    padding-left: 14px;
    padding-top: 5px;
    margin-bottom: 16px;
    letter-spacing: 0.01em;
}

.form-textarea {
    resize: none;
    border: none;
    border-radius: 5px;
    height: 202px;
    color: #f2888b;
    background-color: #d6564f;
    font-size: 11.5px;
    line-height: 26px;
    text-align: left;
    padding-left: 14px;
    padding-top: 5px;
    margin-bottom: 16px;
    
}

.form-item::placeholder{
    color: #f48c8f; 
}

.form-textarea::placeholder {
    color: #f48c8f;
    letter-spacing: -0.9pt;
}

.form-submit {
    width: 100px;
    border: none;
    border-radius: 5px;
    color: #d6564f;
    background-color: #f0d8d9;
    font-size: 11.5px;
    line-height: 26px;
    text-align: center;
}

.form-submit:hover {
    opacity: 0.75;
    color: #f0d8d9;
    background-color: #d6564f;
    cursor: pointer
}

#message_block {
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(29, 25, 25, 0.533);
}

#message_block.none {
      display: none;
}

#message {
    word-wrap: break-word;
    position: absolute;
    width: 500px;
    padding: 15px 15px;
    background-color: #d6b9b9;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 5px;
    text-align: center;
}

p.messages {
    color: black;
    font-family: "Lato";
}

.message_block-button{
    cursor: pointer;
    width: 50px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    color: #d6564f;
    background-color: #f0d8d9;
    font-size: 11.5px;
    line-height: 26px;
    text-align: center;
}

.hide {
    visibility: hidden;
}

.getAquote-form_contacts {
    display: flex;
}

.getAquote-contact {
    width: 300px;
    margin-left: 40px;
    margin-top: 43px;
}

.contact-text p {
    font-weight: 300;
    padding-top: 6px;
    color: #f0d8d9;
    font-size: 11.5px;
    line-height: 22px;
}
    
.contact-text h3 {
    color: #f0d8d9;
    letter-spacing: -0.03em;
}

.information {
    display: flex;
    margin-bottom: 9px;
}

.information a {
    text-decoration: none;
    text-align: center;
    padding-left: 15px;
    color: #f0d8d9;
    font-size: 10.5px;
    letter-spacing: 0.046em
}

.information a:hover {
    color:  hsl(0, 0%, 0%);
}

.information p {
    text-align: center;
    padding-left: 15px;
    color: #f0d8d9;
    font-size: 10.5px;
    letter-spacing: 0.046em
}

.contact-information {
    margin-top: 25px;
    padding-left: 1px;
}

.information-img_phone {
    margin-top: 2px;
}

.footer {
    height: 76px;
    background-color: #2d303a;
    display: flex;
    justify-content: space-between;
}

.footer-logo p{
    margin-left: 41px;
    margin-top: 30px;
    font-size: 11.5px;
    letter-spacing: 0.046em;
    color: #666d89;
}

.footer-link {
    padding-top: 21px;
    padding-right: 4%; 
}

.footer-link a {
    padding-right: 2px;
}
 
/* MEDIA */

@media screen and (min-width: 768px) and (max-width: 1019px) {

    .header-nav a {
        font-size: 8.8pt;
        letter-spacing: -0.01em;
    }
    
    .slider_block {
        max-height: 452px;
        min-width: 768px;
        max-width: 1020px;
    }

    .slider_block-slide1 {
        height: 452px;
    }

    .slider_block-vertical_phone {
        margin-left: 11%;
    }

    .slider_block-vertical_phone img {
        height: 363px;
        width: 190px;
    }

    .slider_block-horizontal_phone {
        margin-left: 6%;
        margin-bottom: 5px;
    }

    .slider_block-horizontal_phone img {
        width: 365px;
        height: 181px;
     }

     .slider_block-left_arrow {
        left: 30px;
        top: 214px;;
    }

    .slider_block-right_arrow {
        right: 26px;
        top: 214px;;
    }

    .iphone_button {
        width: 33px;
        height: 33px;
        bottom: 67px;
        left: 33%;
    }

    .iphone_button_2 {
        width: 33px;
        height: 33px;
        bottom: 217px;
        left: 1.8%;   }

    .vertical_scrin {
        width: 145px;
        height: 252px;
        top: 88px;
        left: 4%;
    }

    .horizontal_scrin {
        height: 143px;
        width: 252px;
        top: 143px;
        left: 12.2%;
    }

    .slider_block-slide2 {
        height: 452px;
        min-width: 768px;

    }

    .slider_block-slide2 img {
        margin: 0 auto;
        width: 363px;
    }

    .our_services_block {
        height: 674px;
        min-width: 768px;
        max-width: 1020px;
    }

    .our_services_block-text {
        padding-top: 45px;
    }

    .our_services_block-text p {
        margin-top: 19px;
    }

    .our_services_block-items {
        padding-top: 40px;
        margin: 0 5% 0 0;
    }

    .services_item {
        margin-bottom: 58px;
    }

    .portfolio {
        min-height: 1102px;
        max-width: 1020px;
        min-width: 768px;
    }

    

    .portfolio-text p {
        letter-spacing: 0.05em;
        line-height: 28.5px;
        padding-top: 20px;
    }

    .portfolio-navBar {
        padding-top: 13px;
        padding-left: 5%;
    }

    .portfolio-img {
        grid-template-columns: repeat(3, 32%);
        grid-gap: 1.9%;
        grid-row-gap: 1.6%;
        margin: 31px 5% 0 5%;
    }

    .portfolio-img-case img {
        width: 217px;
        height: 183px;
    }

    .aboutUs {
        height: 668px;
    }
    
    .aboutUs-text {
        padding-top: 55px;
    }

    .aboutUs-people {
        grid-template-columns: repeat(3, 32%);
        margin: 5% 40px 0;
        grid-gap: 15px;
    }

    .people-text h3 {
        padding-top: 8px;
        margin-bottom: -5px;
    }

    .people-socialImg {
        padding-top: 11px;
    }

    .aboutUs-people-block {
        width: 219px;
    }

    .people-img img {
        width: 219px;
        height: 219px;
    }

    .getAquote {
        height: 631px;
        min-width: 768px;
        max-width: 1019px;
    }

    .getAquote-text {
        padding-top: 57px;
        padding-left: 5%;
    }

    .getAquote-form {
        margin-top: 12px;
        margin-left: 3%;
        width: 86%;
    }

    .getAquote-form_contacts {
        justify-content: space-between;
    }

    .form-item {
        height: 38px;
        padding-left: 10px;
        padding-top: 2px;
        margin-bottom: 12px;
    }

    .form-textarea {
        height: 159px;
    }

    .getAquote-contact {
        margin-left: -4%;
        margin-right: 3%;
        margin-top: 24px;
    }

    .contact-text p {
        letter-spacing: 1px;
        padding-top: 0px;
    }

    .contact-information {
        margin-top: 14px;
    }

    .footer-link {
        padding-top: 22px;
        margin-right: 1%;
    }

    .footer-link a {
        padding-right: 4px;
    }

    .footer-logo p {
        margin-top: 35px;
        letter-spacing: 0.09em;
    }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    #message {
        width: 85%;
    }
    
    .header nav {
        display: none;
    }

    .content {
        margin-top: 71px;
    }

    .header {
        padding: 0 20px;
        min-width: 375px;
        min-height: 71px;
    }
    .header-logo img {
        width: 91px;
    }

    .header-logo {
        position: absolute;
        left: 39%;
        margin-top: 28px;
    }

    .menu_img {
        display: block;
        cursor: pointer;
    }

    .slider_block {
        max-height: 220px;
        max-width: 375px;
    }

    .slider_block-slide1 {
        height: 220px;
        min-width: 375px;
        max-width: 767px;
    }

    .slider_block-slide2 {
        height: 220px;
        min-width: 375px;
        max-width: 767px;
    }

    .slider_block-slide2 img {
        width: 182px;
    }

    .slider_block-left_arrow {
        left: 11px;
        top: 97px;
        width: 14px;
        height: 26px;
    }

    .slider_block-right_arrow {
        right: 11px;
        top: 97px;
        width: 14px;
        height: 26px;
    }

    .slider_block-vertical_phone {
        margin-left: 11%;
        margin-bottom: 1px
    }

    .slider_block-vertical_phone img {
        height: 179px;
        width: 93px;
    }

    .slider_block-horizontal_phone img {
        width: 179px;
        height: 90px;
    }

    .slider_block-horizontal_phone {
        margin-left: 5.3%;
        margin-bottom: 2px;
    }

    .iphone_button {
        width: 18px;
        height: 18px;
        bottom: 32px;
        left: 31%;
    }

    .iphone_button_2 {
        width: 18px;
        height: 18px;
        top: 95px;
        left: 2%;
    }

    .vertical_scrin {
        width: 71px;
        height: 124px;
        top: 44px;
        left: 4%;
    }

    .horizontal_scrin {
        height: 76px;
        width: 124px;
        top: 67px;
        left: 12%;
    }

    .our_services_block-text {
        padding-top: 30px;
    }

    .item-img {
        padding-right: 5.9%;
    }

    .our_services_block {
        padding: 0 8.5%;
    }

    .our_services_block-text p {
        margin-top: 20px;
        line-height: 23pt;
    }

    .our_services_block-items {
        padding-top: 28px;
        margin-left: -4%;
        justify-content: center;
        display: grid;
    }

    .services_item {
        margin-bottom: 33px;
    }

    .portfolio-text {
        padding: 43px 8% 0;
    }

    .portfolio-text p {
        line-height: 29px;
    }

    .portfolio-navBar {
        padding-top: 15px;
        padding-left: 8%;
    }

    .portfolio-img-case img {
        width: 151px;
        height: 128px;
    }

    .portfolio-img {
        grid-template-columns: repeat(2, 46%);
        grid-gap: 0px;
        grid-template-rows: repeat(4, 25.7%);
        margin-left: 4%;
        margin-top: 26px;
        height: 553px;
    }

    .portfolio {
        height: 843px;
    }

    .aboutUs {
        height: 1755px;
    }

    .aboutUs-text {
        min-width: 375px;
        padding-top: 36px;
        padding-left: 8%;
        max-width: 767px;
    }

    .aboutUs-text p {
        margin-top: 16px;
        letter-spacing: -0.00em;
        line-height: 23pt;
    }

    .people-text p {
        padding-top: 0;
    }

    .aboutUs-people {
        margin-left: 0;
        margin-top: 26px;
        justify-content: center;
        grid-template-columns: 314px;
    }

    .people-img img {
        width: 314px;
        height: 314px;
    }

    .people-socialImg {
        padding-top: 9px;
    }

    .aboutUs-people {
        grid-gap: 30px;
    }

    .getAquote {
        height: 969px;
    }

    .getAquote-text {
        padding-top: 47px;
        padding-left: 8%;
        padding-right: 4%;
    }

    .getAquote-text h2 {
        margin-bottom: 16px;
    }

    .getAquote-text p {
        line-height: 23pt;
        letter-spacing: 0.068em;
        font-size: 12pt;
    }

    .getAquote-form {
        margin-top: 12px;
        margin-left: 4%;
        width: 92%;
    }

    .getAquote-form_contacts {
        flex-direction: column;
    }

    .form-item {
        padding-left: 9px;
        padding-top: 3px;
        margin-bottom: 12px;
    }

    .form-textarea {
        height: 158px;
        padding-left: 11px;
        padding-top: 2px;
    }

    .form-submit {
        width: 100%;
        height: 47px;
        font-size: 13.5px;
        text-transform: uppercase;
    }

    .getAquote-contact {
        margin-left: 8%;
        margin-top: 33px;
        width: 89%;
        min-width: 300px;
        max-width: 767px;
    }

    .contact-text p {
        padding-top: 0;
    }

    .contact-information {
        margin-top: 16px;
    }

    .information {
        margin-bottom: 11px;
    }

    .footer-logo {
        display: none;
    }

    .footer {
        justify-content: center;
    }

    .footer-link {
         padding-right: 0;
    }
}

@media screen and (max-width: 374px) {
    .header nav {
        display: none;
    }

    .content {
        margin-top: 71px;
    }

    .header {
        padding: 0 20px;
        min-width: 375px;
        min-height: 71px;
    }
    .header-logo img {
        width: 91px;
    }

    .header-logo {
        padding-right: 35%;
        margin-top: 28px;
    }

    .menu_img {
        display: block;
        cursor: pointer;
    }

    .slider_block {
        max-height: 220px;
        max-width: 375px;
    }

    .slider_block-slide1 {
        height: 220px;
        min-width: 375px;
        max-width: 767px;
    }

    .slider_block-slide2 {
        height: 220px;
        min-width: 375px;
        max-width: 767px;
    }

    .slider_block-slide2 img {
        width: 182px;
    }

    .slider_block-left_arrow {
        left: 11px;
        top: 97px;
        width: 14px;
        height: 26px;
    }

    .slider_block-right_arrow {
        right: 11px;
        top: 97px;
        width: 14px;
        height: 26px;
    }

    .slider_block-vertical_phone {
        margin-left: 7%;
        margin-bottom: 1px
    }

    .slider_block-vertical_phone img {
        height: 179px;
        width: 93px;
    }

    .slider_block-horizontal_phone img {
        width: 179px;
        height: 90px;
    }

    .slider_block-horizontal_phone {
        margin-left: -0.7%;
        margin-bottom: 2px;
    }

    .iphone_button {
        width: 18px;
        height: 18px;
        bottom: 32px;
        left: 31%;
    }

    .iphone_button_2 {
        width: 18px;
        height: 18px;
        top: 95px;
        left: 2%;
    }

    .vertical_scrin {
        width: 71px;
        height: 124px;
        top: 44px;
        left: 4%;
    }

    .horizontal_scrin {
        height: 76px;
        width: 124px;
        top: 67px;
        left: 12%;
    }

    .our_services_block-text {
        padding-top: 30px;
    }

    .item-img {
        padding-right: 5.9%;
    }

    .our_services_block {
        padding: 0 8.5%;
    }

    .our_services_block-text p {
        margin-top: 20px;
        line-height: 23pt;
    }

    .our_services_block-items {
        padding-top: 28px;
        margin-left: -4%;
        justify-content: center;
        display: grid;
    }

    .services_item {
        margin-bottom: 33px;
    }

    .portfolio-text {
        padding: 43px 8% 0;
    }

    .portfolio-text p {
        line-height: 29px;
    }

    .portfolio-navBar {
        padding-top: 15px;
        padding-left: 8%;
    }

    .portfolio-img-case img {
        width: 96%;
        height: 128px;
    }

    .portfolio-img {
        grid-template-columns: repeat(2, 46%);
        grid-gap: 0px;
        grid-template-rows: repeat(4, 25.7%);
        margin-left: 4%;
        margin-top: 26px;
        height: 553px;
    }

    .navBar-button {
        margin-right: 0;
    }

    .portfolio {
        height: 843px;
    }

    .aboutUs {
        height: 1755px;
    }

    .aboutUs-text {
        min-width: 375px;
        padding-top: 36px;
        padding-left: 8%;
        max-width: 767px;
    }

    .aboutUs-text p {
        margin-top: 16px;
        letter-spacing: -0.00em;
        line-height: 23pt;
    }

    .people-text p {
        padding-top: 0;
    }

    .aboutUs-people {
        margin-left: 0;
        margin-top: 26px;
        justify-content: center;
        grid-template-columns: 314px;
    }

    .people-img img {
        width: 314px;
        height: 314px;
    }

    .people-socialImg {
        padding-top: 9px;
    }

    .aboutUs-people {
        grid-gap: 30px;
    }

    .getAquote {
        height: 969px;
    }

    .getAquote-text {
        padding-top: 47px;
        padding-left: 8%;
        padding-right: 4%;
    }

    .getAquote-text h2 {
        margin-bottom: 16px;
    }

    .getAquote-text p {
        line-height: 23pt;
        letter-spacing: 0.068em;
        font-size: 12pt;
    }

    .getAquote-form {
        margin-top: 12px;
        margin-left: 4%;
        width: 92%;
    }

    .getAquote-form_contacts {
        flex-direction: column;
    }

    .form-item {
        padding-left: 9px;
        padding-top: 3px;
        margin-bottom: 12px;
    }

    .form-textarea {
        height: 158px;
        padding-left: 11px;
        padding-top: 2px;
    }

    .form-submit {
        width: 100%;
        height: 47px;
        font-size: 13.5px;
        text-transform: uppercase;
    }

    .getAquote-contact {
        margin-left: 8%;
        margin-top: 33px;
        width: 89%;
        min-width: 300px;
        max-width: 767px;
    }

    .contact-text p {
        padding-top: 0;
    }

    .contact-information {
        margin-top: 16px;
    }

    .information {
        margin-bottom: 11px;
    }

    .footer-logo {
        display: none;
    }

    .footer {
        justify-content: center;
    }

    .footer-link {
         padding-right: 0;
    }
}
/* ---MEDIA--- */